body{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 98vh;
	background-color: #ebdac5;
	overflow-y: hidden; 
}
h1{
font-family: 'Courier New'; 
}
.photo-wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: scroll;
	overflow-x: hidden; 
	height: 95%;
	width: 100%;
	background-color: #ebdac5;
}
.photo{
	background: white;
	padding: 10px 10px 30px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
	text-align: center;
	width: 240px; 
	margin: 40px;
}

.photo-image {
	display: block;
	max-width: 100%;
	padding-bottom: 10px;
}

.photo-caption {
	margin-top: 10px;
	font-family: 'Courier New'; 
	font-size: 12px; 
	color: #333;
}
form {
	background: #ffffff;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
