body{
	background-color: #242424;
}
h1{
	font-size: 100px
}
h2{
	font-size: 50px;
}
#hoverGif{
    position: fixed;
    top: 20px;
    right: 20px;
    opacity: 0.6;
    z-index: 100;
    max-width: 200px;
}
.morning{
    background-image: url("./images/morning.jpeg");
    height: 800px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.morning h1{
    color: white;
    background-color: black;
}
.afternoon{
    background-image: url("./images/afternoon.jpg");
    height: 800px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.afternoon h1{
    color: white;
    background-color: black;
}
.evening{
   background-image: url("./images/evening.jpg"); 
   height: 800px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.evening h1{
    color: white;
    background-color: black;
}
.night{
    background-image: url("./images/night.jpg");
    height: 800px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.night h1{
    color: white;
    background-color: black;
}
p, h3, h2, label, td, tr{
    color: white;
}
form{
	padding: 15px;
}
.multiplication{
    display: flex;
    gap: 25px;
    align-items: center;
}
.table{
	margin: 10px;
	border-spacing: 3px;
}
#task2{
	display:flex;
	justify-content: center;
	outline: 2px solid white;
}
#thanksgiving{

}
